secrets.yaml
.mcp.json
.esphome/
**/.pioenvs/
**/.piolibdeps/
**/lib/
**/src/
**/platformio.ini
docker/data/
*pat*.txt
*token*.txt
*.pat
.claude/settings.local.json
/.mr.sullivan@gmail.com.august.conf
