secrets.yaml
.mcp.json
*.log
*.xml
*.db*
*.sqlite
.storage/
/.mr.sullivan@gmail.com.august.conf
/.cloud/
__pycache__
/tts
custom_components/**
home-assistant.log.*

/custom_components-disabled
/www/community/advanced-camera-card
.claude/settings.local.json
